<%- include("../partials/header") %>

<div class="container">
	<p>
		<a href="/discs">< Back to Discs</a>
	</p>
	<div class="float-left pr-5">
		<img src=<%=disc.image%> class="profile-image">
	</div>
	<div class="float-left">
		<h2 class="profile-name pb-2 mt-3"><%=disc.mold%></h2>
		<p><span class="disc-text pr-1">Brand: </span><%=disc.brand%></p>
		<p><span class="disc-text pr-1">Category: </span><%=disc.category%></p>
		<p><span class="disc-text pr-1">Flight numbers: </span><%=disc.speed%> | <%=disc.glide%> | <%=disc.turn%> | <%=disc.fade%></p>
		<p><span class="disc-text pr-1 pop-rank" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Based on the number of pros bagging the disc and the rankings of those pros.">Popularity Rank:</span> <%= helper.ordinal_suffix_of(disc.popularity_rank) %>
		</p>
	</div>

	<div class="wrapper">
		<div class="mb-3">
			<h3>
				Pros using this disc
			</h3>
		</div>
		<div>
			<table class="table-sm">
			  <thead>
				<tr>
				  <th scope="col">Name</th>
				  <th scope="col">Plastic</th>
				  <th scope="col">Weight</th>
				</tr>
			  </thead>
			  <tbody>
				  <!-- for each pro see if they have any prodiscs matching the disc -->
				<% pros.forEach(function(pro){ %>
				  	<% pro.pro_discs.forEach(function(proDisc){ %>
						<% if(proDisc.disc.id._id == disc.id){ %>
							<tr>
							  <td class="cell"><a href="/pros/<%=pro.url_name%>"><%=pro.name%></a></td>
							  <td class="cell"><%=proDisc.plastic%></td>
							  <% if (proDisc.weight){ %>  
								<td class="cell"><%=proDisc.weight%>g</td>
					  		  <% } else { %>
					  			<td class="unknown cell">unknown</td>
					  		  <% } %>
							  <!-- <td><a href="<%=//proDisc.buy_url%>" target="_blank" class="btn btn-sm btn-light">Buy <i class="fas fa-external-link-alt"></i></a></td> -->
							</tr>
				  		<% } %>
				  	<% }) %>
				<% }) %>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>
